@using TicariOtomasyon.Models.Siniflar
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>Kategori Id</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.KategoriId</td>
            <td>@item.KategoriAd</td>
            <td><a href="/Kategori/KategoriSil/@item.KategoriId" class="btn btn-sm btn-danger">Sil</a></td>
            <td><a href="/Kategori/KategoriGuncelle/@item.KategoriId" class="btn btn-sm btn-success">Güncelle</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
<a href="/Kategori/KategoriEkle" style="margin-top:20px;" class="btn btn-info btn-sm">Yeni Kategori</a>
