@using TicariOtomasyon.Models.Siniflar
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Departmanlar</h4>
<table class="table table-bordered" >
    <tr>
        <th>Id</th>
        <th>Departman</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
        <th>Sil</th>

    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.DepartmanId</td>
    <td>@item.DepartmanAdi</td>
    <td><a href="/Departman/DepartmanGuncelle/@item.DepartmanId" class="btn btn-sm btn-success">Güncelle</a></td>
    <td><a href="/Departman/DepartmanDetay/@item.DepartmanId" class="btn btn-sm btn-warning">Detaylar</a></td>
    <td><a href="/Departman/DepartmanSil/@item.DepartmanId" class="btn btn-sm btn-danger">Sil</a></td>
</tr>
    }

</table>
<a href="/Departman/DepartmanEkle" style="margin-top:20px;" class="btn btn-info btn-sm">Yeni Departman</a>
